*.png
!arbor_averaged_STET.png
!arbor_averaged_SLFS.png
!arbor_averaged_WTET.png
!arbor_averaged_WLFS.png
*.txt
*.so
*.bak
*.svg
tmp/
*pycache*/
data*/*
!data_predef*/*.svg
run_arbor_classical_protocols_*TET
